.yes-blocks{
    min-height: 50vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#my-service-widget{
    background-color: #FFFFFF;
}

.yes-blocks-text{
    font-size: 3.5em;
    text-align: center;
    font-weight: 900;

    white-space: pre-wrap;
    overflow: hidden;
}

.container-section{
    min-height: 100vh;
}